@import './base.css';

#app {

}
a{
  all: unset;
  cursor: pointer;
}
button{
  all: unset;
  cursor: pointer;
}

.container{
  width: 90%;
}
.holder {
  width: 100%;
}
.primary_button{
  background-color: var(--vt-c-blue);
  width: auto;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.secondary_button{
  background-color: var(--vt-c-minor-button);
  width: auto;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.half{
  width: 50%;
}

.heading1{
  font-size:3em;
  font-weight: 600;
}
.heading2{
  font-size: 1.5em;
  font-weight: 600;
}
