@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

#app {

}
a{
  all: unset;
  cursor: pointer;
}
button{
  all: unset;
  cursor: pointer;
}

.container{
  width: 90%;
}

.holder {
  width: 100%;
}
.primary_button{
  background-color: var(--vt-c-blue);
  width: auto;
  height: 30px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 20px;
}
.secondary_button{
  background-color: var(--vt-c-minor-button);
  width: 166px;
  height: 30px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 20px;
}
.half{
  width: 50%;
}

.heading1{
  font-size:5em;
  font-weight: 900;
}
.heading2{
  font-size: 3em;
  font-weight: 600;
}
.heading3{
  font-size: 1em;
  font-weight: 600;
}
@media (max-width: 784px) {
  .heading1{
    font-size:3em;
    font-weight: 900;
  }
  .heading2{
    font-size: 1.5em;
    font-weight: 600;
  }
  .heading3{
    font-size: 0.5em;
    font-weight: 600;
  }
}